body{
    background-color: #7aecf4;
}

.imagem{
    position: relative;
    top: 50px;
    left: 30%;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.preenchimento{
    position: relative;
    top: 50px;
}

.campo{
    display: inline;
}

input{
    width: 90px;
    height: 90px;
    font-size: 80px;
    text-align: center;
    border: 5px;
    margin: 10px;
    border-color: black;
    border-style: solid;
}

button.verOrto {
    position: relative;
    left: 80%;
    bottom: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#4400ff 0%,
		#2600ff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#4400ff),
        to(#2600ff));
        
    border-radius: 10px;
}

button.letras {
    position: relative;
    top: 100px;   
    left: 20%;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: black;
    padding: 10px 20px;
    
    border-color: black;
    border-style: solid;
    
    background-color: #ffffff;

}


