body{
    background-color: #7aecf4;
}

.img1{
    text-align: center;
}

.imagem{
    position: relative;
    top: 40px;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.preenchimento{
    position: relative;
    top: 50px;
    text-align: center;
    width: 100%;
}

.campo{
    display: inline;
}

.mostrarLetras{
    width: 80px;
    height: 80px;
    font-size: 70px;
    text-align: center;
    border: 5px;
    margin: 10px;
    border-color: black;
    border-style: solid;
}

.score{
    position: absolute;
    left: 65%;
    top: 30px;
    font-size: 40px;
    border: 5px;
    margin: 10px;
    border-color: black;
    border-style: solid;
    background-color: white;
}

.pontuacao{
    width: 90px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border: 1px;
    margin: 10px;
    border-color: black;
    border-style: solid;
}

.verOrto{
    position: relative;
    left: 70%;
    top: -150px;
}

.div_letras{
    position: relative;
    top: 100px;
    text-align: center;
}

.letras{
    margin: 0px 10px 0px 10px;
}


